html
body
  margin 0
  padding 0
  font-family $font
  font-weight 100
  color $gray
  background hsl( 0, 0, 95 )
  *
    box-sizing border-box
body
  background-size 50px 50px
p
  font-weight 100
a
  color hsl( 200, 50%, 50% )
  &:hover
    color lighten( $red, 20 )
  &:active
    color darken( $red, 10 )
.highlight
  background rgba( $red, 0.25 )
.blue
  color $blue
hr
  border none
  height 1px
  background hsl( 0, 0, 95% )
.hidden
  position absolute
  top -9999px
  left -9999px