<nav class="primary">
  <header><a href="/">{title}</a></header>
  <section>
    <h1>Social</h1>
    <a href="https://github.com/robertmesserle/"><i class="icon-github-alt"></i> Github</a>
    <a href="https://twitter.com/bobbo_O"><i class="icon-twitter"></i> Twitter</a>
    <a href="http://www.linkedin.com/profile/view?id=14496163"><i class="icon-linkedin"></i> LinkedIn</a>
    <a href="https://www.facebook.com/robert.messerle"><i class="icon-facebook"></i> Facebook</a>
    <a href="http://www.flickr.com/photos/robertmesserle"><i class="icon-flickr"></i> Flickr</a>
    <a href="https://plus.google.com/u/0/115002043331201857591/posts"><i class="icon-google-plus-sign"></i> Google+</a>
    <a href="http://www.youtube.com/robertmesserle"><i class="icon-youtube-play"></i> YouTube</a>
    <a href="http://stackoverflow.com/users/1200182/robert-messerle"><i class="icon-stackexchange"></i> StackOverflow</a>
  </section>
  <section>
    <h1>Projects</h1>
    <a href="https://github.com/robertmesserle/RecoilJS"><i class="icon-code"></i> RecoilJS</a>
    <a href="https://github.com/robertmesserle/Bobbograph"><i class="icon-bar-chart"></i> Bobbograph</a>
    <a href="https://github.com/robertmesserle/jadeDom"><i class="icon-code"></i> jadeDom</a>
    <a href="https://github.com/robertmesserle/Bobbomate"><i class="icon-play-circle"></i> Bobbomate</a>
    <a href="https://github.com/robertmesserle/Bobject"><i class="icon-cogs"></i> Bobject</a>
    <a href="https://github.com/robertmesserle/Bobbolax"><i class="icon-resize-vertical"></i> Bobbolax</a>
  </section>
</nav>